.each__user {
    border-radius: 5px;
    display: flex;
    margin: 10px;
    /* border: 1px solid black; */
    padding: 20px;
    flex-direction: row;
    box-shadow:
    inset 0 -3em 3em rgba(209, 206, 206, 0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
    
}
.user__name {
    width: 70%;
}

.delete__user {
    font-size: 10px;
    padding-top: 10px;
    margin: 10px;
    cursor: pointer;
    width: 20%;
  
}